# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production builds
dist/
build/

# Environment variables (SÉCURITÉ)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local runtime files
.DS_Store
*.pem

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
backend/node_modules/
frontend/node_modules/
boucherie-backend/node_modules/
boucherie-frontend/node_modules/
boucherie-frontend/.next/
